<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.creativemediapro.mk10"
        version     = "1.0.0"
        versionCode = "01" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.1.0" />

        <name>MarkTenPuzzle</name>

        <description>
        Mark Ten Puzzle. 
        </description>

        <author href="http://creativemediapro.com" email="robert_perry@mac.com">
        Perry|Kosar
        </author>
        <content src="index.html" />
        <feature name="Device">
            <param name="ios-package" value="CDVDevice" />
        </feature>
        <feature name="LocalStorage">
            <param name="ios-package" value="CDVLocalStorage" />
        </feature>
        <access origin="mk10.visualarcs.com" />
        <gap:platform name="ios" />
        <icon src="icons/ios/icon-29.png" gap:platform="ios" width="29" height="29" />
        <icon src="icons/ios/icon.png" gap:platform="ios" width="58" height="58" />
		<icon src="icons/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
		<icon src="icons/ios/icon-80.png" gap:platform="ios" width="80" height="80" />
		<!-- retina iPad support: PhoneGap 2.5.0+ only -->
		<icon src="icons/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
		<icon src="icons/ios/icon-76_at_2x.png" gap:platform="ios" width="152" height="152" />
		<gap:splash src="splash.png" />
		<gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
		<gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
		<!-- retina iPad support: PhoneGap 2.5.0+ only -->
		<gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1536" />
		<gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />
        <gap:plugin name="org.apache.cordova.device" />
        <gap:plugin name="nl.x-services.plugins.ioswebviewcolor" />
        <preference name="KeyboardDisplayRequiresUserAction" value="true" />
        <preference name="HideKeyboardFormAccessoryBar" value="false"/>
        <preference name="SuppressesIncrementalRendering" value="false" />
        <preference name="UIWebViewBounce" value="true" />
        <preference name="TopActivityIndicator" value="gray" />
        <preference name="EnableLocation" value="false" />
        <preference name="EnableViewportScale" value="false" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="ShowSplashScreenSpinner" value="true" />
        <preference name="MediaPlaybackRequiresUserAction" value="false" />
        <preference name="AllowInlineMediaPlayback" value="false" />
        <preference name="OpenAllWhitelistURLsInWebView" value="true" />
        <preference name="BackupWebStorage" value="cloud" />
        <preference name="permissions" value="none" />
        <preference name="orientation" value="landscape" />
        <preference name="target-device" value="universal" />
        <preference name="fullscreen" value="true" />
        <preference name="webviewbounce" value="true" />
        <preference name="prerendered-icon" value="false" />
        <preference name="stay-in-webview" value="false" />
        <preference name="ios-statusbarstyle" value="default" />
        <preference name="detect-data-types" value="true" />
        <preference name="exit-on-suspend" value="false" />
        <preference name="show-splash-screen-spinner" value="true" />
        <preference name="auto-hide-splash-screen" value="true" />
        <preference name="disable-cursor" value="false" />
        <feature name="Media">
            <param name="ios-package" value="CDVSound" />
        </feature>
    </widget>
